   {% extends 'layout.twig' %}
   {% block content %}
        <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Crée le </th>
                <th>Mis à jour le</th>
                <th>Contenus</th>
                <th>Réponse</th>
                <th>Niveau</th>
                <th>Signalements</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects.objects %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>{{ object.created_at }}</td>
                    <td>{{ object.updated_at }}</td>
                    <td>{{ object.content }}</td>
                    <td>{{ object.commentary_response_id }}</td>
                    <td>{{ object.commentary_level }}</td>
                    <td>{{ object.number_of_reports }}</td>
                    <td><a href="/commentary/edit/{{ object.id }}"><button class="success button">Éditer</button></a></td>
                    {% import 'forms.twig' as forms %}
                    <td>{{forms.deleteObject("/commentary/delete/#{object.id}")}}</td> 
                </tr>              
            {% endfor %}
        </tbody>
        </table>
        {% import 'forms.twig' as forms %}
        {{forms.pages(objects.pageActual,objects.pagesTotal,'/commentaries/')}}
   {% endblock %}