{% extends 'layout.twig' %}
{% block content %}
  <div class="row">
    <div class="large-12 columns align-center">   
      <h1>Bienvenue sur le site de Jean Forteroche</h1>
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Victor_Hugo.jpg/110px-Victor_Hugo.jpg" alt="">
          </div>
        </div>
        <div class="media-object-section">
          <p>Bienvenue sur mon blog ! Je m’appelle Jean Forteroche et j’ai créé ce site dans le but de publier, mon prochain livre. Chaque article présent sur celui-ci, constituera un chapitre de mon roman et vous pourrez venir les consulter au fur et à mesure que ceux-ci paraîtront. Il ne me reste plus qu’à vous souhaiter une agréable visite.</p>
        </div>
      </div>
    {% if objects.pageActual == 1 %}
      <div class="row small-up-12 medium-up-12 large-up-12" data-equalizer data-equalize-by-row="true">
        <div class="column" data-equalizer-watch><img src= "http://www.cariboutravel.be/dpics/jours/2014-11-06-04-32-57_alaskabaleines.jpg">
      </div>
    {% endif %}
    </div>
    <p>&nbsp;</p> 
  {% for object in objects.posts %}
  <div class="column align-self-middle">
      <div class="row large-12 medium-12 small-12 columns">        
          <small class="large-centered medium-centered">{{object.created_at|date("d/m/Y")}}</small>     
      </div>
      <div class="row large-12 medium-12 small-12 columns">        
          <h3 class="large-centered medium-centered">{{object.title}}</h3>    
      </div>
        <div class="row column large-12">         
          {{object.summary}}
        </div>
  </div>
    <div class="row">
      <div class="large-6 large-centered columns">
        <div class="button-group menu-centered">
          <li><a href="/post/see/{{object.slug}}"><button class="hollow button">Continuer la lecture</button></a></li>
        </div>
      </div>
    </div>
  {% endfor %}      
    {% import 'forms.twig' as forms %}
    {{forms.pages(objects.pageActual,objects.pagesTotal,'/page/')}}
  </div>
{% endblock %}