{% macro inputNumber(name,placeholder,errorMessage,helpText,required) %}
      <label>Champ requis
        <input name="{{name}}" type="text" placeholder="{{placeholder}}" aria-describedby="numberHelpText" {{required}} pattern="number">
        <span class="form-error">
          {{errorMessage}}
        </span>
      </label>
      <p class="help-text" id="numberHelpText">{{helpText}}</p>
{% endmacro %}
{% macro inputText(name,placeholder,errorMessage,helpText,required,value) %}
      <label>Champ requis
        <input name="{{name}}" type="text" placeholder="{{placeholder}}" value="{{value}}" aria-describedby="exampleHelpText" {{required}}>
        <span class="form-error">
          {{errorMessage}}
        </span>
      </label>
      <p class="help-text" id="exampleHelpText">{{helpText}}</p>
{% endmacro %}
{% macro inputTextTinyMCE(name,placeholder,errorMessage) %}
      <label>Champs requis
      <textarea name="{{name}}" id="tinymce" aria-describedby="exampleHelpText" {{required}}>{{placeholder}}</textarea>
        <span class="form-error">
          {{errorMessage}}
        </span>
      </label>
      <p class="help-text" id="exampleHelpText"></p>
{% endmacro %}
{% macro inputTextarea(name,placeholder,errorMessage) %}
      <label>Champs requis
      <textarea name="{{name}}" rows="10" cols="50" aria-describedby="exampleHelpText" {{required}}>{{placeholder}}</textarea>
        <span class="form-error">
          {{errorMessage}}
        </span>
      </label>
      <p class="help-text" id="exampleHelpText"></p>
{% endmacro %}
{% macro inputTextMail(name,placeholder,errorMessage,helpText,required) %}
      <label>Champ requis
        <input name="{{name}}" type="email" placeholder="{{placeholder}}" aria-describedby="exampleHelpText" {{required}} pattern="email">
        <span class="form-error">
          {{errorMessage}}
        </span>
      </label>
      <p class="help-text" id="exampleHelpText">{{helpText}}</p>
{% endmacro %}
{% macro inputTextPassword(name,placeholder,errorMessage,helpText,required) %}
      <label>Champ requis
        <input name="{{name}}" type="password" id="password" placeholder="{{placeholder}}" aria-describedby="exampleHelpText" {{required}}>
        <span class="form-error">
          {{errorMessage}}
        </span>
      </label>
      <p class="help-text" id="exampleHelpText">{{helpText}}</p>
{% endmacro %}
{% macro inputTextPasswordConfirmation(name,placeholder,errorMessage,helpText,required) %}
      <label>Champ requis
        <input name="{{name}}" type="password" placeholder="{{placeholder}}" aria-describedby="exampleHelpText" {{required}} data-equalto="password">
        <span class="form-error">
          {{errorMessage}}
        </span>
      </label>
      <p class="help-text" id="exampleHelpText">{{helpText}}</p>
{% endmacro %}
{% macro inputHidden(name,value) %}
    <input name="{{name}}" type="hidden" value="{{value}}" {{required}}>
{% endmacro %}