{% macro commentaries(commentaries,postId,postSlug) %}
{% import 'forms.twig' as forms %}
<div class="column large-12 callout">
    {% for commentary in commentaries %}       
            {{commentary.content}}
                {{forms.addReport("/report/create","#{commentary.id}",postSlug)}}
            
            <div class="button-group menu-centered">
                <a data-open="commentaryResponse{{commentary.id}}" class="hollow button">Répondre</a>
                {{forms.addResponseToCommentary('/commentary/create',postId,"#{commentary.id}")}}
            </div>

        {#Tant qu'il y a des enfants#}
        {% if commentary.getChilds() %}
            {% import _self as macros %}
            {{macros.commentaries(commentary.getChilds(),postId,postSlug)}}
        {% endif %}
    {% endfor %}
</div>
{% endmacro %}