   {% extends 'layout.twig' %}
   {% block content %}
        <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Crée le </th>
                <th>Mis à jour le</th>
                <th>Email</th>
                <th>Voir</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects.objects %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>{{ object.created_at }}</td>
                    <td>{{ object.updated_at }}</td>
                    <td>{{ object.email }}</td>
                    <td><a href="/user/profil/{{ object.id }}"><button class="button">Voir</button></a></td>
                    <td><a href="/user/edit/{{ object.id }}"><button class="success button">Éditer</button></a></td>
                    {% import 'forms.twig' as forms %}
                    <td>{{forms.deleteObject("/user/delete/#{object.id}")}}</td> 
                </tr>              
            {% endfor %}
        </tbody>
        </table>
        {% import 'forms.twig' as forms %}
        {{forms.pages(objects.pageActual,objects.pagesTotal,'/posts/')}}
   {% endblock %}