   {% extends 'layout.twig' %}
   {% block content %}
        <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Crée le </th>
                <th>Mis à jour le</th>
                <th>Email</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects.objects %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>{{ object.created_at|date("d/m/Y H:i") }}</td>
                    <td>{{ object.updated_at|date("d/m/Y H:i") }}</td>
                    <td>{{ object.email }}</td>
                    {% import 'forms.twig' as forms %}
                    <td>{{forms.deleteObject("/user/delete/#{object.id}")}}</td> 
                </tr>              
            {% endfor %}
        </tbody>
        </table>
        {% import 'forms.twig' as forms %}
        {{forms.pages(objects.pageActual,objects.pagesTotal,'/posts/')}}
   {% endblock %}